In [1]:
#valores para a API

#https://apisidra.ibge.gov.br/values/t/1621/n1/all/v/all/p/last%201/c11255/90687/d/v584%202

#https://apisidra.ibge.gov.br/values/t/1621/n1/all/v/all/p/last%201/c11255/90687/d/v584%202

#https://servicodados.ibge.gov.br/api/v3/agregados/2093/metadados

import requests
import pandas as pd

tabela = '2093'
variavel = '93'
classificacao = '86'
categoria ='2776'
nivel = 'n1/all'

#if N6 == 1:
#    nivel = 'n1/all/n6/in n3 33'
#else:
#    if N3 ==1: 
#        nivel = 'n1/all/n3/all'
#   else: nivel = 'n1/all'

endereco = 'https://apisidra.ibge.gov.br/values/t/'+tabela+'/'+nivel+'/v/'+variavel+'/p/all/c'+classificacao+'/'+categoria+'/h/n'

response = requests.get(endereco)

if response.status_code == 200:
    data = response.json()

df = pd.DataFrame(data)
df

,NC,NN,MC,MN,V,D1C,D1N,D2C,D2N,D3C,D3N,D4C,D4N,D5C,D5N,D6C,D6N,D7C,D7N
0,1,Brasil,45,Pessoas,91298042,1,Brasil,93,População residente,2000,2000,2776,Branca,0,Total,0,Total,0,Total
1,1,Brasil,45,Pessoas,90621281,1,Brasil,93,População residente,2010,2010,2776,Branca,0,Total,0,Total,0,Total

In [4]:
#valores para montar a base de tabelas/classificacoes/categorias/variaveis

import requests
import pandas as pd

response = requests.get('https://servicodados.ibge.gov.br/api/v3/agregados')

if response.status_code == 200:
    data = response.json()


#base de tabelas/classificacoes/categorias/variaveis

tabela = '8418'

endereco = 'https://servicodados.ibge.gov.br/api/v3/agregados/'+tabela+'/metadados'

response = requests.get(endereco)

if response.status_code == 200:
    data = response.json()

#Catgoria x classificacao

df_categ = pd.json_normalize(data,
    record_path=['classificacoes','categorias'],
    meta=["id",["classificacoes","id"],["classificacoes","nome"]],
    meta_prefix='tabela_',
    record_prefix='categ_'
    )

#Variaveis x classificacao

df_var = pd.json_normalize(data,
    record_path=['variaveis'],
    meta=["id","nome","URL","pesquisa","assunto",["periodicidade","frequencia"],["periodicidade","inicio"],["periodicidade","fim"],["nivelTerritorial","Administrativo"]],
    meta_prefix='Tabela_',
    record_prefix='var_'
    )

if df_categ.empty:
    df = df_var
else:
    df = df_categ.merge(df_var, left_on='tabela_id',right_on='Tabela_id')

df.columns

   var_id                        var_nome            var_unidade  \
0   12747        Áreas urbanizadas densas  Quilômetros quadrados
1   12748  Áreas urbanizadas pouco densas  Quilômetros quadrados
2   12749      Total de áreas urbanizadas  Quilômetros quadrados
3   12750                Loteamento vazio  Quilômetros quadrados
4   12751              Área total mapeada  Quilômetros quadrados
5   12752     Outros equipamentos urbanos  Quilômetros quadrados
6   12753             Vazios intraurbanos  Quilômetros quadrados
7   12754            Vazios remanescentes  Quilômetros quadrados

      var_sumarizacao Tabela_id  \
0  [nivelTerritorial]      8418
1  [nivelTerritorial]      8418
2  [nivelTerritorial]      8418
3  [nivelTerritorial]      8418
4  [nivelTerritorial]      8418
5  [nivelTerritorial]      8418
6  [nivelTerritorial]      8418
7  [nivelTerritorial]      8418

                                         Tabela_nome  \
0  Áreas urbanizadas, Loteamento vazio, Área tota...
1  Áreas urbanizadas, Loteamento vazio, Área tota...
2  Áreas urbanizadas, Loteamento vazio, Área tota...
3  Áreas urbanizadas, Loteamento vazio, Área tota...
4  Áreas urbanizadas, Loteamento vazio, Área tota...
5  Áreas urbanizadas, Loteamento vazio, Área tota...
6  Áreas urbanizadas, Loteamento vazio, Área tota...
7  Áreas urbanizadas, Loteamento vazio, Área tota...

                              Tabela_URL    Tabela_pesquisa Tabela_assunto  \
0  https://sidra.ibge.gov.br/tabela/8418  Áreas Urbanizadas          Geral
1  https://sidra.ibge.gov.br/tabela/8418  Áreas Urbanizadas          Geral
2  https://sidra.ibge.gov.br/tabela/8418  Áreas Urbanizadas          Geral
3  https://sidra.ibge.gov.br/tabela/8418  Áreas Urbanizadas          Geral
4  https://sidra.ibge.gov.br/tabela/8418  Áreas Urbanizadas          Geral
5  https://sidra.ibge.gov.br/tabela/8418  Áreas Urbanizadas          Geral
6  https://sidra.ibge.gov.br/tabela/8418  Áreas Urbanizadas          Geral
7  https://sidra.ibge.gov.br/tabela/8418  Áreas Urbanizadas          Geral

  Tabela_periodicidade.frequencia Tabela_periodicidade.inicio  \
0                           anual                        2019
1                           anual                        2019
2                           anual                        2019
3                           anual                        2019
4                           anual                        2019
5                           anual                        2019
6                           anual                        2019
7                           anual                        2019

  Tabela_periodicidade.fim Tabela_nivelTerritorial.Administrativo
0                     2019                           [N2, N6, N3]
1                     2019                           [N2, N6, N3]
2                     2019                           [N2, N6, N3]
3                     2019                           [N2, N6, N3]
4                     2019                           [N2, N6, N3]
5                     2019                           [N2, N6, N3]
6                     2019                           [N2, N6, N3]
7                     2019                           [N2, N6, N3]

In [13]:
import requests
import pandas as pd

responseT = requests.get('https://servicodados.ibge.gov.br/api/v3/agregados')

if responseT.status_code == 200:
    data = responseT.json()

    data_list = []

    for item in data:
        id = item['id']
        pesquisa = item['nome']
        for agregado in item['agregados']:
            id_df = agregado['id']
            nome_df = agregado['nome']
            data_list.append([id, pesquisa, id_df, nome_df])
            if 'SU' == item['id'] : df = pd.DataFrame(data_list, columns=['id', 'pesquisa', 'id_df', 'nome_df'])
    lista_tabelas = df['id_df']
    print(lista_tabelas)
    print(df)
else:
    print(f"Request failed with status code {response.status_code}")

0       8418
1       1685
2       1732
3       1733
4       1734
        ...
2452    8427
2453    8428
2454    8429
2455    8430
2456    6784
Name: id_df, Length: 2457, dtype: object
      id                                           pesquisa id_df  \
0     D5                                  Áreas Urbanizadas  8418
1     CL                       Cadastro Central de Empresas  1685
2     CL                       Cadastro Central de Empresas  1732
3     CL                       Cadastro Central de Empresas  1733
4     CL                       Cadastro Central de Empresas  1734
...   ..                                                ...   ...
2452  DZ  Contas Econômicas Ambientais de Energia: produ...  8427
2453  DZ  Contas Econômicas Ambientais de Energia: produ...  8428
2454  DZ  Contas Econômicas Ambientais de Energia: produ...  8429
2455  DZ  Contas Econômicas Ambientais de Energia: produ...  8430
2456  SU                            Contas Nacionais Anuais  6784

                                                nome_df
0     Áreas urbanizadas, Loteamento vazio, Área tota...
1     Unidades locais, empresas e outras organizaçõe...
2     Dados gerais das empresas por faixas de pessoa...
3     Dados gerais das unidades locais por faixas de...
4     Dados gerais das unidades locais por faixas de...
...                                                 ...
2452  Consumo final pelas famílias e Consumo final p...
2453  Exportação física, Importação física, Particip...
2454  Exportação monetária, Importação monetária, Pa...
2455  Consumo intermediário dos produtos energéticos...
2456  Produto Interno Bruto, Produto Interno Bruto p...

[2457 rows x 4 columns]

In [7]:
#valores para montar a base de tabelas/classificacoes/categorias/variaveis

import requests
import pandas as pd

tabela = '2093'

endereco = 'https://servicodados.ibge.gov.br/api/v3/agregados/'+tabela+'/metadados'

response = requests.get(endereco)

if response.status_code == 200:
    data = response.json()

#Catgoria x classificacao

df_categ = pd.json_normalize(data,
    record_path=['classificacoes','categorias'],
    meta=["id",["classificacoes","id"],["classificacoes","nome"]],
    meta_prefix='tabela_',
    record_prefix='categ_'
    )

#Variaveis x classificacao

df_var = pd.json_normalize(data,
    record_path=['variaveis'],
    meta=["id","nome","URL","pesquisa","assunto",["periodicidade","frequencia"],["periodicidade","inicio"],["periodicidade","fim"],["nivelTerritorial","Administrativo"]],
    meta_prefix='Tabela_',
    record_prefix='var_'
    )

if df_categ.empty:
    df = df_var
else:       
    df = df_categ.merge(df_var, left_on='tabela_id',right_on='Tabela_id')
df.columns

Index(['categ_id', 'categ_nome', 'categ_unidade', 'categ_nivel', 'tabela_id',
       'tabela_classificacoes.id', 'tabela_classificacoes.nome', 'var_id',
       'var_nome', 'var_unidade', 'var_sumarizacao', 'Tabela_id',
       'Tabela_nome', 'Tabela_URL', 'Tabela_pesquisa', 'Tabela_assunto',
       'Tabela_periodicidade.frequencia', 'Tabela_periodicidade.inicio',
       'Tabela_periodicidade.fim', 'Tabela_nivelTerritorial.Administrativo'],
      dtype='object')

In [19]:
#lista de parametros para API

import requests
import pandas as pd
import numpy as np

pd.set_option('future.no_silent_downcasting', True)

response = requests.get('https://servicodados.ibge.gov.br/api/v3/agregados')

if response.status_code == 200:
    data = response.json()

    resultado = pd.DataFrame({'categ_id':[], 'categ_nome':[], 'categ_unidade':[], 'categ_nivel':[], 'tabela_id':[],
       'tabela_classificacoes.id':[], 'tabela_classificacoes.nome':[],                      
       'var_id':[], 'var_nome':[], 'var_unidade':[], 'var_sumarizacao':[], 'tabela_id':[],
       'Tabela_nome':[], 'Tabela_URL':[], 'Tabela_pesquisa':[], 'Tabela_assunto':[],
       'Tabela_periodicidade.frequencia':[], 'Tabela_periodicidade.inicio':[],
       'Tabela_periodicidade.fim':[], 'Tabela_nivelTerritorial.Administrativo':[]})
    
  
    lista = pd.DataFrame({'tabela':['6784','1621','2093']})
    print(lista['tabela'])
    for item in lista['tabela']:
        tab = item
        #print(IdTabela)
        enderecoT = 'https://servicodados.ibge.gov.br/api/v3/agregados/'+tab+'/metadados'
        print(enderecoT)
        responseT = requests.get(enderecoT)
        dataT = responseT.json()
        #print(dataT)
        df_categ = pd.json_normalize(dataT,
            record_path=['classificacoes','categorias'],
            meta=["id",["classificacoes","id"],["classificacoes","nome"]],
            meta_prefix='tabela_',
            record_prefix='categ_'
            )
       # print(df_categ)
                #Variaveis x classificacao

        df_var = pd.json_normalize(dataT,
            record_path=['variaveis'],
            meta=["id","nome","URL","pesquisa","assunto",["periodicidade","frequencia"],["periodicidade","inicio"],["periodicidade","fim"],["nivelTerritorial","Administrativo"]],
            meta_prefix='tabela_',
            record_prefix='var_'
                    )
        #nivel territorio x tabela

        df_nivel = pd.json_normalize(dataT,
            record_path=['nivelTerritorial','Administrativo'],
            meta=["id"],
            meta_prefix='tabela_',
            record_prefix='nivel_'
            )

        if df_categ.empty:
            dfm = df_var.merge(df_nivel,left_on='tabela_id',right_on='tabela_id')
        else:
            df1 = df_categ.merge(df_var, left_on='tabela_id',right_on='tabela_id')
            dfm = df1.merge(df_nivel, left_on='tabela_id',right_on='tabela_id')
        
        options = ['N1','N3','N6'] 
        df = dfm.loc[dfm['nivel_0'].isin(options)] 
        #df = df.loc[:,'tabela_id']#,'var_id','tabela_classificacoes.id','categ_id','nivel_0']]
        #print(dfm)
        #print("muda/muda/muda")
        resultado = pd.concat([resultado,df])
        resultado = resultado.loc[:,['tabela_id','var_id','tabela_classificacoes.id','categ_id','nivel_0']]
        #resultado[['tabela_id','var_id','tabela_classificacoes.id','categ_id']] = resultado[['tabela_id','var_id','tabela_classificacoes.id','categ_id']].fillna(-1)
        #resultado[['tabela_id','var_id','tabela_classificacoes.id','categ_id']] = resultado[['tabela_id','var_id','tabela_classificacoes.id','categ_id']].astype(int)
        #resultado[['tabela_id','var_id','tabela_classificacoes.id','categ_id']] = resultado[['tabela_id','var_id','tabela_classificacoes.id','categ_id']].astype(str)
        #resultado[['tabela_id','var_id','tabela_classificacoes.id','categ_id']] = resultado[['tabela_id','var_id','tabela_classificacoes.id','categ_id']].replace('-1', np.nan)
        #resultado[['tabela_id','var_id','tabela_classificacoes.id','categ_id']] = resultado[['tabela_id','var_id','tabela_classificacoes.id','categ_id']].fillna('').astype(str)

    print("RESULTADO/RESULTADO/RESULTADO")    
    print(resultado.dtypes)
    print(resultado)
    print(f"Request failed with status code {response.status_code}")

0    6784
1    1621
2    2093
Name: tabela, dtype: object
https://servicodados.ibge.gov.br/api/v3/agregados/6784/metadados
https://servicodados.ibge.gov.br/api/v3/agregados/1621/metadados
https://servicodados.ibge.gov.br/api/v3/agregados/2093/metadados
RESULTADO/RESULTADO/RESULTADO
tabela_id                    object
var_id                      float64
tabela_classificacoes.id     object
categ_id                    float64
nivel_0                      object
dtype: object
    tabela_id     var_id tabela_classificacoes.id  categ_id nivel_0
0        6784     9808.0                      NaN       NaN      N1
1        6784     9809.0                      NaN       NaN      N1
2        6784     9810.0                      NaN       NaN      N1
3        6784     9811.0                      NaN       NaN      N1
4        6784       93.0                      NaN       NaN      N1
..        ...        ...                      ...       ...     ...
625      2093       93.0                       58    2503.0      N6
629      2093       93.0                       58    2503.0      N3
631      2093  1000093.0                       58    2503.0      N1
635      2093  1000093.0                       58    2503.0      N6
639      2093  1000093.0                       58    2503.0      N3

[221 rows x 5 columns]
Request failed with status code 200