In [30]:
import requests
import pandas as pd

response = requests.get('https://servicodados.ibge.gov.br/api/v3/agregados/7358/metadados')

if response.status_code == 200:
    data = response.json()

    data_list = []
    id = data['id']
    tabela = data['nome']
    periodo = data['periodicidade']

#   for periodicidade in data['periodicidade']:
#        frequencia = periodicidade['frequencia']
#        inicio = periodicidade['inicio']
#        fim = periodicidade['inicio']

    for classificacao in data['classificacoes']:
        id_df = classificacao['id']
        nome_df = classificacao['nome']
        data_list.append([id, tabela, id_df, nome_df,periodo])

    df = pd.DataFrame(data_list, columns=['id', 'tabela', 'id_df', 'nome_df','periodo'])
    #df = pd.DataFrame(data_list, columns=['id', 'tabela', 'id_df', 'nome_df','frequencia','inicio','fim'])
    print(df)
else:
    print(f"Request failed with status code {response.status_code}")

     id                       tabela  id_df nome_df  \
0  7358  População, por sexo e idade      2    Sexo
1  7358  População, por sexo e idade    287   Idade
2  7358  População, por sexo e idade   1933     Ano

                                             periodo
0  {'frequencia': 'anual', 'inicio': 2018, 'fim':...
1  {'frequencia': 'anual', 'inicio': 2018, 'fim':...
2  {'frequencia': 'anual', 'inicio': 2018, 'fim':...

In [5]:
import requests
import pandas as pd

response = requests.get('https://servicodados.ibge.gov.br/api/v3/agregados/1621/metadados')

if response.status_code == 200:
    data = response.json()

temp=pd.json_normalize(data, max_level=2)

temp

,id,nome,URL,pesquisa,assunto,variaveis,classificacoes,periodicidade.frequencia,periodicidade.inicio,periodicidade.fim,nivelTerritorial.Administrativo,nivelTerritorial.Especial,nivelTerritorial.IBGE
0,1621,Série encadeada do índice de volume trimestral...,https://sidra.ibge.gov.br/tabela/1621,Contas Nacionais Trimestrais,Contas Nacionais e Regionais,"[{'id': 584, 'nome': 'Série encadeada do índic...","[{'id': 11255, 'nome': 'Setores e subsetores',...",trimestral,199601,202304,[N1],[],[]

In [29]:
import requests
import pandas as pd

response = requests.get('https://servicodados.ibge.gov.br/api/v3/agregados/7358/metadados')

if response.status_code == 200:
    data = response.json()

    data_list = []
    id = data['id']
    tabela = data['nome']
    periodo = data['periodicidade']
    classificacao = data['classificacoes']
    data_list.append([id, tabela,periodo,classificacao])

    df = pd.DataFrame(data_list, columns=['id', 'tabela','periodo','classificacao'])
    
    print(df)
else:
    print(f"Request failed with status code {response.status_code}")

     id                       tabela  \
0  7358  População, por sexo e idade

                                             periodo  \
0  {'frequencia': 'anual', 'inicio': 2018, 'fim':...

                                       classificacao
0  [{'id': 2, 'nome': 'Sexo', 'sumarizacao': {'st...

In [10]:
import requests
import pandas as pd

response = requests.get('https://servicodados.ibge.gov.br/api/v3/agregados/1621/metadados')

if response.status_code == 200:
    data = response.json()

df = pd.json_normalize(data['classificacoes'],record_path=['categorias'])#, meta=[data['classificacoes']['id']])

#df = pd.json_normalize(data['classificacoes'],record_path=['categorias','id'],meta='id')

print(df)

SyntaxError: unmatched ')' (3544894703.py, line 9)

In [11]:
import requests
import pandas as pd

response = requests.get('https://servicodados.ibge.gov.br/api/v3/agregados/1621/metadados')

if response.status_code == 200:
    data = response.json()

temp = pd.json_normalize(data, record_path =['classificacoes','categorias'])
temp

       id                                               nome unidade  nivel
0   90687                               Agropecuária - total    None      0
1   90691                                  Indústria - total    None      0
2   90692                              Indústrias extrativas    None      0
3   90693                        Indústrias de transformação    None      0
4   90695  Eletricidade e gás, água, esgoto, atividades d...    None      0
5   90694                                         Construção    None      0
6   90696                                   Serviços - total    None      0
7   90697                                           Comércio    None      0
8   90698                  Transporte, armazenagem e correio    None      0
9   90699                           Informação e comunicação    None      0
10  90700  Atividades financeiras, de seguros e serviços ...    None      0
11  90702                            Atividades imobiliárias    None      0
12  90701                      Outras atividades de serviços    None      0
13  90703  Administração, saúde e educação públicas e seg...    None      0
14  90705                  Valor adicionado a preços básicos    None      0
15  90707                            PIB a preços de mercado    None      0
16  93404                    Despesa de consumo das famílias    None      0
17  93405        Despesa de consumo da administração pública    None      0
18  93406                     Formação bruta de capital fixo    None      0
19  93407                      Exportação de bens e serviços    None      0
20  93408                  Importação de bens e serviços (-)    None      0

In [12]:
import requests
import pandas as pd

response = requests.get('https://servicodados.ibge.gov.br/api/v3/agregados/1621/metadados')

if response.status_code == 200:
    data = response.json()

temp = pd.json_normalize(data, record_path =['classificacoes','categorias'],meta=['classificacoes','id'],errors='ignore')
#Final = pd.concat([df.drop(['classificacoes'], axis = 1), temp], axis = 1)
#Final
temp

ValueError: Conflicting metadata name id, need distinguishing prefix

In [2]:
import requests
import pandas as pd

response = requests.get('https://servicodados.ibge.gov.br/api/v3/agregados/2093/metadados')

if response.status_code == 200:
    data = response.json()


df = pd.json_normalize(data,
    record_path=['classificacoes'],
    meta=["URL","pesquisa","assunto",["periodicidade","frequencia"],["periodicidade","inicio"],["periodicidade","fim"],["nivelTerritorial","Administrativo"]]
    ).explode(column="categorias")


#df= df.assign(categ = df['categorias'].str.split(',')).explode('categorias')
print(df)

   id                   nome  \
0  86            Cor ou raça
0  86            Cor ou raça
0  86            Cor ou raça
0  86            Cor ou raça
0  86            Cor ou raça
0  86            Cor ou raça
0  86            Cor ou raça
1   2                   Sexo
1   2                   Sexo
1   2                   Sexo
2   1  Situação do domicílio
2   1  Situação do domicílio
2   1  Situação do domicílio
3  58         Grupo de idade
3  58         Grupo de idade
3  58         Grupo de idade
3  58         Grupo de idade
3  58         Grupo de idade
3  58         Grupo de idade
3  58         Grupo de idade
3  58         Grupo de idade
3  58         Grupo de idade
3  58         Grupo de idade
3  58         Grupo de idade
3  58         Grupo de idade
3  58         Grupo de idade
3  58         Grupo de idade
3  58         Grupo de idade
3  58         Grupo de idade
3  58         Grupo de idade
3  58         Grupo de idade
3  58         Grupo de idade

                                          categorias  sumarizacao.status  \
0  {'id': 0, 'nome': 'Total', 'unidade': None, 'n...                True
0  {'id': 2776, 'nome': 'Branca', 'unidade': None...                True
0  {'id': 2777, 'nome': 'Preta', 'unidade': None,...                True
0  {'id': 2778, 'nome': 'Amarela', 'unidade': Non...                True
0  {'id': 2779, 'nome': 'Parda', 'unidade': None,...                True
0  {'id': 2780, 'nome': 'Indígena', 'unidade': No...                True
0  {'id': 2781, 'nome': 'Sem declaração', 'unidad...                True
1  {'id': 0, 'nome': 'Total', 'unidade': None, 'n...                True
1  {'id': 4, 'nome': 'Homens', 'unidade': None, '...                True
1  {'id': 5, 'nome': 'Mulheres', 'unidade': None,...                True
2  {'id': 0, 'nome': 'Total', 'unidade': None, 'n...                True
2  {'id': 1, 'nome': 'Urbana', 'unidade': None, '...                True
2  {'id': 2, 'nome': 'Rural', 'unidade': None, 'n...                True
3  {'id': 0, 'nome': 'Total', 'unidade': None, 'n...                True
3  {'id': 100402, 'nome': '0 a 14 anos', 'unidade...                True
3  {'id': 1140, 'nome': '0 a 4 anos', 'unidade': ...                True
3  {'id': 1141, 'nome': '5 a 9 anos', 'unidade': ...                True
3  {'id': 1142, 'nome': '10 a 14 anos', 'unidade'...                True
3  {'id': 6797, 'nome': '15 a 64 anos', 'unidade'...                True
3  {'id': 1143, 'nome': '15 a 19 anos', 'unidade'...                True
3  {'id': 2792, 'nome': '15 a 17 anos', 'unidade'...                True
3  {'id': 92982, 'nome': '18 e 19 anos', 'unidade...                True
3  {'id': 1144, 'nome': '20 a 24 anos', 'unidade'...                True
3  {'id': 1145, 'nome': '25 a 29 anos', 'unidade'...                True
3  {'id': 3299, 'nome': '30 a 39 anos', 'unidade'...                True
3  {'id': 3300, 'nome': '40 a 49 anos', 'unidade'...                True
3  {'id': 3301, 'nome': '50 a 59 anos', 'unidade'...                True
3  {'id': 3520, 'nome': '60 a 69 anos', 'unidade'...                True
3  {'id': 6798, 'nome': '65 anos ou mais', 'unida...                True
3  {'id': 3244, 'nome': '70 anos ou mais', 'unida...                True
3  {'id': 95252, 'nome': '70 a 79 anos', 'unidade...                True
3  {'id': 2503, 'nome': '80 anos ou mais', 'unida...                True

  sumarizacao.excecao                                    URL  \
0                  []  https://sidra.ibge.gov.br/tabela/2093
0                  []  https://sidra.ibge.gov.br/tabela/2093
0                  []  https://sidra.ibge.gov.br/tabela/2093
0                  []  https://sidra.ibge.gov.br/tabela/2093
0                  []  https://sidra.ibge.gov.br/tabela/2093
0                  []  https://sidra.ibge.gov.br/tabela/2093
0                  []  https://sidra.ibge.gov.br/tabela/2093
1                  []  https://sidra.ibge.gov.br/tabela/2093
1                  []  https://sidra.ibge.gov.br/tabela/2093
1                  []  https://sidra.ibge.gov.br/tabela/2093
2                  []  https://sidra.ibge.gov.br/tabela/2093
2                  []  https://sidra.ibge.gov.br/tabela/2093
2                  []  https://sidra.ibge.gov.br/tabela/2093
3                  []  https://sidra.ibge.gov.br/tabela/2093
3                  []  https://sidra.ibge.gov.br/tabela/2093
3                  []  https://sidra.ibge.gov.br/tabela/2093
3                  []  https://sidra.ibge.gov.br/tabela/2093
3                  []  https://sidra.ibge.gov.br/tabela/2093
3                  []  https://sidra.ibge.gov.br/tabela/2093
3                  []  https://sidra.ibge.gov.br/tabela/2093
3                  []  https://sidra.ibge.gov.br/tabela/2093
3                  []  https://sidra.ibge.gov.br/tabela/2093
3                  []  https://sidra.ibge.gov.br/tabela/2093
3                  []  https://sidra.ibge.gov.br/tabela/2093
3                  []  https://sidra.ibge.gov.br/tabela/2093
3                  []  https://sidra.ibge.gov.br/tabela/2093
3                  []  https://sidra.ibge.gov.br/tabela/2093
3                  []  https://sidra.ibge.gov.br/tabela/2093
3                  []  https://sidra.ibge.gov.br/tabela/2093
3                  []  https://sidra.ibge.gov.br/tabela/2093
3                  []  https://sidra.ibge.gov.br/tabela/2093
3                  []  https://sidra.ibge.gov.br/tabela/2093

            pesquisa      assunto periodicidade.frequencia  \
0  Censo Demográfico  Cor ou raça                    anual
0  Censo Demográfico  Cor ou raça                    anual
0  Censo Demográfico  Cor ou raça                    anual
0  Censo Demográfico  Cor ou raça                    anual
0  Censo Demográfico  Cor ou raça                    anual
0  Censo Demográfico  Cor ou raça                    anual
0  Censo Demográfico  Cor ou raça                    anual
1  Censo Demográfico  Cor ou raça                    anual
1  Censo Demográfico  Cor ou raça                    anual
1  Censo Demográfico  Cor ou raça                    anual
2  Censo Demográfico  Cor ou raça                    anual
2  Censo Demográfico  Cor ou raça                    anual
2  Censo Demográfico  Cor ou raça                    anual
3  Censo Demográfico  Cor ou raça                    anual
3  Censo Demográfico  Cor ou raça                    anual
3  Censo Demográfico  Cor ou raça                    anual
3  Censo Demográfico  Cor ou raça                    anual
3  Censo Demográfico  Cor ou raça                    anual
3  Censo Demográfico  Cor ou raça                    anual
3  Censo Demográfico  Cor ou raça                    anual
3  Censo Demográfico  Cor ou raça                    anual
3  Censo Demográfico  Cor ou raça                    anual
3  Censo Demográfico  Cor ou raça                    anual
3  Censo Demográfico  Cor ou raça                    anual
3  Censo Demográfico  Cor ou raça                    anual
3  Censo Demográfico  Cor ou raça                    anual
3  Censo Demográfico  Cor ou raça                    anual
3  Censo Demográfico  Cor ou raça                    anual
3  Censo Demográfico  Cor ou raça                    anual
3  Censo Demográfico  Cor ou raça                    anual
3  Censo Demográfico  Cor ou raça                    anual
3  Censo Demográfico  Cor ou raça                    anual

  periodicidade.inicio periodicidade.fim  \
0                 2000              2010
0                 2000              2010
0                 2000              2010
0                 2000              2010
0                 2000              2010
0                 2000              2010
0                 2000              2010
1                 2000              2010
1                 2000              2010
1                 2000              2010
2                 2000              2010
2                 2000              2010
2                 2000              2010
3                 2000              2010
3                 2000              2010
3                 2000              2010
3                 2000              2010
3                 2000              2010
3                 2000              2010
3                 2000              2010
3                 2000              2010
3                 2000              2010
3                 2000              2010
3                 2000              2010
3                 2000              2010
3                 2000              2010
3                 2000              2010
3                 2000              2010
3                 2000              2010
3                 2000              2010
3                 2000              2010
3                 2000              2010

               nivelTerritorial.Administrativo
0  [N15, N1, N2, N8, N9, N6, N14, N7, N13, N3]
0  [N15, N1, N2, N8, N9, N6, N14, N7, N13, N3]
0  [N15, N1, N2, N8, N9, N6, N14, N7, N13, N3]
0  [N15, N1, N2, N8, N9, N6, N14, N7, N13, N3]
0  [N15, N1, N2, N8, N9, N6, N14, N7, N13, N3]
0  [N15, N1, N2, N8, N9, N6, N14, N7, N13, N3]
0  [N15, N1, N2, N8, N9, N6, N14, N7, N13, N3]
1  [N15, N1, N2, N8, N9, N6, N14, N7, N13, N3]
1  [N15, N1, N2, N8, N9, N6, N14, N7, N13, N3]
1  [N15, N1, N2, N8, N9, N6, N14, N7, N13, N3]
2  [N15, N1, N2, N8, N9, N6, N14, N7, N13, N3]
2  [N15, N1, N2, N8, N9, N6, N14, N7, N13, N3]
2  [N15, N1, N2, N8, N9, N6, N14, N7, N13, N3]
3  [N15, N1, N2, N8, N9, N6, N14, N7, N13, N3]
3  [N15, N1, N2, N8, N9, N6, N14, N7, N13, N3]
3  [N15, N1, N2, N8, N9, N6, N14, N7, N13, N3]
3  [N15, N1, N2, N8, N9, N6, N14, N7, N13, N3]
3  [N15, N1, N2, N8, N9, N6, N14, N7, N13, N3]
3  [N15, N1, N2, N8, N9, N6, N14, N7, N13, N3]
3  [N15, N1, N2, N8, N9, N6, N14, N7, N13, N3]
3  [N15, N1, N2, N8, N9, N6, N14, N7, N13, N3]
3  [N15, N1, N2, N8, N9, N6, N14, N7, N13, N3]
3  [N15, N1, N2, N8, N9, N6, N14, N7, N13, N3]
3  [N15, N1, N2, N8, N9, N6, N14, N7, N13, N3]
3  [N15, N1, N2, N8, N9, N6, N14, N7, N13, N3]
3  [N15, N1, N2, N8, N9, N6, N14, N7, N13, N3]
3  [N15, N1, N2, N8, N9, N6, N14, N7, N13, N3]
3  [N15, N1, N2, N8, N9, N6, N14, N7, N13, N3]
3  [N15, N1, N2, N8, N9, N6, N14, N7, N13, N3]
3  [N15, N1, N2, N8, N9, N6, N14, N7, N13, N3]
3  [N15, N1, N2, N8, N9, N6, N14, N7, N13, N3]
3  [N15, N1, N2, N8, N9, N6, N14, N7, N13, N3]

In [21]:
import requests
import pandas as pd

response = requests.get('https://servicodados.ibge.gov.br/api/v3/agregados/2093/metadados')

if response.status_code == 200:
    data = response.json()


df_categ = pd.json_normalize(data,
    record_path=['classificacoes','categorias'],
    meta=[["classificacoes","id"],["classificacoes","nome"]],
    meta_prefix='meta'
    )


print(df_categ)
#2093 tem + de 1 classificações e categorias

        id             nome unidade  nivel metaclassificacoes.id  \
0        0            Total    None      0                    86
1     2776           Branca    None      1                    86
2     2777            Preta    None      1                    86
3     2778          Amarela    None      1                    86
4     2779            Parda    None      1                    86
5     2780         Indígena    None      1                    86
6     2781   Sem declaração    None      1                    86
7        0            Total    None      0                     2
8        4           Homens    None      1                     2
9        5         Mulheres    None      1                     2
10       0            Total    None      0                     1
11       1           Urbana    None      1                     1
12       2            Rural    None      1                     1
13       0            Total    None     -1                    58
14  100402      0 a 14 anos    None     -1                    58
15    1140       0 a 4 anos    None     -1                    58
16    1141       5 a 9 anos    None     -1                    58
17    1142     10 a 14 anos    None     -1                    58
18    6797     15 a 64 anos    None     -1                    58
19    1143     15 a 19 anos    None     -1                    58
20    2792     15 a 17 anos    None     -1                    58
21   92982     18 e 19 anos    None     -1                    58
22    1144     20 a 24 anos    None     -1                    58
23    1145     25 a 29 anos    None     -1                    58
24    3299     30 a 39 anos    None     -1                    58
25    3300     40 a 49 anos    None     -1                    58
26    3301     50 a 59 anos    None     -1                    58
27    3520     60 a 69 anos    None     -1                    58
28    6798  65 anos ou mais    None     -1                    58
29    3244  70 anos ou mais    None     -1                    58
30   95252     70 a 79 anos    None     -1                    58
31    2503  80 anos ou mais    None     -1                    58

   metaclassificacoes.nome
0              Cor ou raça
1              Cor ou raça
2              Cor ou raça
3              Cor ou raça
4              Cor ou raça
5              Cor ou raça
6              Cor ou raça
7                     Sexo
8                     Sexo
9                     Sexo
10   Situação do domicílio
11   Situação do domicílio
12   Situação do domicílio
13          Grupo de idade
14          Grupo de idade
15          Grupo de idade
16          Grupo de idade
17          Grupo de idade
18          Grupo de idade
19          Grupo de idade
20          Grupo de idade
21          Grupo de idade
22          Grupo de idade
23          Grupo de idade
24          Grupo de idade
25          Grupo de idade
26          Grupo de idade
27          Grupo de idade
28          Grupo de idade
29          Grupo de idade
30          Grupo de idade
31          Grupo de idade

In [9]:
import requests
import pandas as pd

response = requests.get('https://servicodados.ibge.gov.br/api/v3/agregados/2093/metadados')

if response.status_code == 200:
    data = response.json()

df = pd.json_normalize(data,
    record_path=['variaveis'],
    meta=[[[],"id"],"URL","pesquisa","assunto",["periodicidade","frequencia"],["periodicidade","inicio"],["periodicidade","fim"],["nivelTerritorial","Administrativo"]]
    )
print(df)
#2093 tem + de 1 classificações e categorias

TypeError: sequence item 0: expected str instance, list found

In [35]:
import requests
import pandas as pd

response = requests.get('https://servicodados.ibge.gov.br/api/v3/agregados/2093/metadados')

if response.status_code == 200:
    data = response.json()


#df_categ = pd.json_normalize(data,
#    record_path=['classificacoes','categorias'],
#    meta=[["classificacoes","id"],["classificacoes","nome"]]
#    )
df = pd.json_normalize(data,
    record_path=['classificacoes'],
    meta=["URL","pesquisa","assunto",["periodicidade","frequencia"],["periodicidade","inicio"],["periodicidade","fim"],["nivelTerritorial","Administrativo"]]
    )
print(df)
#2093 tem + de 1 classificações e categorias

   id                   nome  \
0  86            Cor ou raça
1   2                   Sexo
2   1  Situação do domicílio
3  58         Grupo de idade

                                          categorias  sumarizacao.status  \
0  [{'id': 0, 'nome': 'Total', 'unidade': None, '...                True
1  [{'id': 0, 'nome': 'Total', 'unidade': None, '...                True
2  [{'id': 0, 'nome': 'Total', 'unidade': None, '...                True
3  [{'id': 0, 'nome': 'Total', 'unidade': None, '...                True

  sumarizacao.excecao                                    URL  \
0                  []  https://sidra.ibge.gov.br/tabela/2093
1                  []  https://sidra.ibge.gov.br/tabela/2093
2                  []  https://sidra.ibge.gov.br/tabela/2093
3                  []  https://sidra.ibge.gov.br/tabela/2093

            pesquisa      assunto periodicidade.frequencia  \
0  Censo Demográfico  Cor ou raça                    anual
1  Censo Demográfico  Cor ou raça                    anual
2  Censo Demográfico  Cor ou raça                    anual
3  Censo Demográfico  Cor ou raça                    anual

  periodicidade.inicio periodicidade.fim  \
0                 2000              2010
1                 2000              2010
2                 2000              2010
3                 2000              2010

               nivelTerritorial.Administrativo
0  [N15, N1, N2, N8, N9, N6, N14, N7, N13, N3]
1  [N15, N1, N2, N8, N9, N6, N14, N7, N13, N3]
2  [N15, N1, N2, N8, N9, N6, N14, N7, N13, N3]
3  [N15, N1, N2, N8, N9, N6, N14, N7, N13, N3]

In [13]:
import requests
import pandas as pd

response = requests.get('https://servicodados.ibge.gov.br/api/v3/agregados/2093/metadados')

if response.status_code == 200:
    data = response.json()


df_tabela = pd.json_normalize(data,
   record_path=["classificacoes"],
    meta=[]
    )

print(df_tabela)

   id                   nome  \
0  86            Cor ou raça
1   2                   Sexo
2   1  Situação do domicílio
3  58         Grupo de idade

                                          categorias  sumarizacao.status  \
0  [{'id': 0, 'nome': 'Total', 'unidade': None, '...                True
1  [{'id': 0, 'nome': 'Total', 'unidade': None, '...                True
2  [{'id': 0, 'nome': 'Total', 'unidade': None, '...                True
3  [{'id': 0, 'nome': 'Total', 'unidade': None, '...                True

  sumarizacao.excecao
0                  []
1                  []
2                  []
3                  []

In [49]:
import requests
import pandas as pd

response = requests.get(
    'https://servicodados.ibge.gov.br/api/v3/agregados/1621/metadados')

if response.status_code == 200:
    data = response.json()

    data_list = []
data['id']

1621

In [ ]:
# Merge and rearrange the columns in the order of your sample output
classrooms.merge(teachers, on=['schools.schoolId', 'studentId']) \
    [['studentId', 'studentName', 'schools.schoolId', 'classRoomId.id', 'classRoomId.floor', 'teacherId', 'teacherName']]


#df = df.rename(columns={'nome': 'nome_completo'})