In [11]:
import pygwalker as pyg
import sidrapy
import pandas as pd
pib_sa_raw = sidrapy.get_table(table_code= "1621",
                            territorial_level = "1",
                            ibge_territorial_code = "all",
                            period = "last 6",
                            classification = "11255/all")

# Checamos a importação
pib_sa_raw = pd.DataFrame(pib_sa_raw)
#pib_sa_raw.head()
pib_sa_raw
# Visualização grafica
#walker = pyg.walk(lista)
#walker

# Substitui as colunas pela primeira observação
pib_sa_raw.columns = pib_sa_raw.iloc[0]

# Retira a primeira observação
pib_sa_raw = pib_sa_raw.iloc[1:, :]

# Altera para float a coluna do valor
pib_sa_raw
#['Valor'] = pib_sa_raw['Valor'].astype(float)

,Nível Territorial (Código),Nível Territorial,Unidade de Medida (Código),Unidade de Medida,Valor,Brasil (Código),Brasil,Trimestre (Código),Trimestre,Setores e subsetores (Código),Setores e subsetores,Variável (Código),Variável
1,1,Brasil,30,Número-índice,236.01,1,Brasil,202203,3º trimestre 2022,90687,Agropecuária - total,584,Série encadeada do índice de volume trimestral...
2,1,Brasil,30,Número-índice,137.67,1,Brasil,202203,3º trimestre 2022,90691,Indústria - total,584,Série encadeada do índice de volume trimestral...
3,1,Brasil,30,Número-índice,224.01,1,Brasil,202203,3º trimestre 2022,90692,Indústrias extrativas,584,Série encadeada do índice de volume trimestral...
4,1,Brasil,30,Número-índice,115.31,1,Brasil,202203,3º trimestre 2022,90693,Indústrias de transformação,584,Série encadeada do índice de volume trimestral...
5,1,Brasil,30,Número-índice,206.33,1,Brasil,202203,3º trimestre 2022,90695,"Eletricidade e gás, água, esgoto, atividades d...",584,Série encadeada do índice de volume trimestral...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,1,Brasil,30,Número-índice,195.09,1,Brasil,202304,4º trimestre 2023,93404,Despesa de consumo das famílias,584,Série encadeada do índice de volume trimestral...
123,1,Brasil,30,Número-índice,156.08,1,Brasil,202304,4º trimestre 2023,93405,Despesa de consumo da administração pública,584,Série encadeada do índice de volume trimestral...
124,1,Brasil,30,Número-índice,163.50,1,Brasil,202304,4º trimestre 2023,93406,Formação bruta de capital fixo,584,Série encadeada do índice de volume trimestral...
125,1,Brasil,30,Número-índice,372.56,1,Brasil,202304,4º trimestre 2023,93407,Exportação de bens e serviços,584,Série encadeada do índice de volume trimestral...
126,1,Brasil,30,Número-índice,261.32,1,Brasil,202304,4º trimestre 2023,93408,Importação de bens e serviços (-),584,Série encadeada do índice de volume trimestral...

Maricá = 73454
3302700
/90707
in N3 33

In [ ]:
# Substitui as colunas pela primeira observação
pib_sa_raw.columns = pib_sa_raw.iloc[0]

# Retira a primeira observação
pib_sa_raw = pib_sa_raw.iloc[1:, :]

# Altera para float a coluna do valor
pib_sa_raw
#['Valor'] = pib_sa_raw['Valor'].astype(float)

In [ ]:
# Substitui as colunas pela primeira observação
pib_sa_raw.columns = pib_sa_raw.iloc[0]
pib_sa_raw

In [ ]:
# Retira a primeira observação
pib_sa_raw = pib_sa_raw.iloc[1:, :]
pib_sa_raw

In [ ]:
# Altera para float a coluna do valor
pib_sa_raw['Valor'] = pib_sa_raw['Valor'].astype('float32')
pib_sa_raw

In [ ]:
# Renomeia e seleciona as colunas de interesse
pib_sa = pib_sa_raw.rename(columns = {"Valor" : "pib_sa",
                                "Trimestre (Código)" : "date"})[['pib_sa', 'date']]

In [1]:
import pygwalker as pyg
import sidrapy
import pandas as pd
pib_sa_raw = sidrapy.get_table(table_code= "6784",
                            territorial_level = "1",
                            ibge_territorial_code = "all",
                            period = "last 1",
                            classification = "/all")

# Checamos a importação
pib_sa_raw = pd.DataFrame(pib_sa_raw)
#pib_sa_raw.head()
pib_sa_raw
# Visualização grafica
#walker = pyg.walk(lista)
#walker

# Substitui as colunas pela primeira observação
pib_sa_raw.columns = pib_sa_raw.iloc[0]

# Retira a primeira observação
pib_sa_raw = pib_sa_raw.iloc[1:, :]

# Altera para float a coluna do valor
pib_sa_raw
#['Valor'] = pib_sa_raw['Valor'].astype(float)

ValueError: Parâmetro CCALL (Classificação) inválido

In [61]:
import ibge
ibge.get_tables()

AttributeError: module 'ibge' has no attribute 'get_tables'

In [60]:
from ibge.localidades import *
data = Regioes()
data

[{'id': 1, 'sigla': 'N', 'nome': 'Norte'}, {'id': 2, 'sigla': 'NE', 'nome': 'Nordeste'}, {'id': 3, 'sigla': 'SE', 'nome': 'Sudeste'}, {'id': 4, 'sigla': 'S', 'nome': 'Sul'}, {'id': 5, 'sigla': 'CO', 'nome': 'Centro-Oeste'}]

In [69]:


import requests
import pandas as pd

response = requests.get('https://servicodados.ibge.gov.br/api/v3/agregados')

if response.status_code == 200:
    data = response.json()

    data_list = []

    for item in data:
        id = item['id']
        pesquisa = item['nome']
        for agregado in item['agregados']:
            id_df = agregado['id']
            nome_df = agregado['nome']
            data_list.append([id, pesquisa, id_df, nome_df])

    df = pd.DataFrame(data_list, columns=['id', 'pesquisa', 'id_df', 'nome_df'])

    print(df)
else:
    print(f"Request failed with status code {response.status_code}")

      id                                           pesquisa id_df  \
0     D5                                  Áreas Urbanizadas  8418
1     CL                       Cadastro Central de Empresas  1685
2     CL                       Cadastro Central de Empresas  1732
3     CL                       Cadastro Central de Empresas  1733
4     CL                       Cadastro Central de Empresas  1734
...   ..                                                ...   ...
8560  SI  Sistema Nacional de Pesquisa de Custos e Índic...    33
8561  SI  Sistema Nacional de Pesquisa de Custos e Índic...    34
8562  SI  Sistema Nacional de Pesquisa de Custos e Índic...    35
8563  SI  Sistema Nacional de Pesquisa de Custos e Índic...   647
8564  SI  Sistema Nacional de Pesquisa de Custos e Índic...  6586

                                                nome_df
0     Áreas urbanizadas, Loteamento vazio, Área tota...
1     Unidades locais, empresas e outras organizaçõe...
2     Dados gerais das empresas por faixas de pessoa...
3     Dados gerais das unidades locais por faixas de...
4     Dados gerais das unidades locais por faixas de...
...                                                 ...
8560  Custo de projeto m², por padrão de acabamento ...
8561  Preços medianos, por materiais e serviços (sér...
8562  Salários medianos, por categorias profissionai...
8563  Custo de projeto m², por tipo de projeto e pad...
8564  Custo médio m² em moeda corrente e variações p...

[8565 rows x 4 columns]